@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$font-family-base: 'Roboto', cursive;

// scsss-docs-start theme-color-variables
$primary: #0d6efd !default;
$secondary: #6c757d !default;
$success: #198754 !default;
$info: #0dcaf0 !default;
$warning: #ffc107 !default;
$danger: #dc3545 !default;
$light: #f8f9fa !default;
$dark: #212529 !default;
// scss-docs-end theme-color-variables

// scss-docs-start theme.colors-map
$theme-colors: (
	"primary": $primary,
	"secondary": $secondary,
	"success": $success,
	"info": $info,
	"warning": $warning,
	"danger": $danger,
	"light": $light,
	"dark": $dark,
) !default;
// scss-docs-end theme.colors-map

@import '../node_modules/bootstrap/scss/bootstrap';

body {
	margin: 0;
	display: grid;
	background-color: #6c757d;
	grid-template-columns: 15% 85% ;
	grid-template-areas: "nav aside"
	"nav main";
}

header {
	padding: 10px;
}

nav {
	align-items: center;
}

// .search {
// 	display: grid;
// 	grid-template-areas: ;
// }

.column {
	padding: 5px;
	width: 75%;
	display: grid;
	align-items: flex-start;
	grid-template-columns: repeat(3, 1fr);
}

.card {
	margin: 5px;
	text-align: center;
}

